body {
    font-family: 'Ranchers', cursive;
    background-color: darkgray;
    margin:auto;
}

/*////////// NAV /////////////*/
.nav-container {
    background-color: darkgoldenrod;
    padding: 0%;
    position: sticky;
    top: 0%;
    z-index: 2;
    height: 70px;
    width: 100%;
    font-size: 20px;  
}
.nav-main ul {
    display: flex;
    list-style: none;
}
.nav-main ul li {
    padding: 20px;
    margin: auto;
    word-spacing: 15px;
}

.nav-main ul li:hover {
    border-bottom: 6px solid black;
    cursor: pointer;
}
.nav-main ul.nav-menu {
    flex: 1;
    }

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: white;
}

/*//////////// HEADER  /////////////*/

.logo-bg::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(../img/fondo/yoreloco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(5px);
    transition: all 1000ms;
}

.logo-bg:hover::after{
    filter: blur(0px);
}

.logo-bg:hover .logo-content {
    filter: blur(1px);

}

.logo-content {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 50%;
    margin-top: 250px;
    margin-left: -145px;
    text-align: center;
    height: 350px;
    width: 300px;
    transition: all 1000ms;
}

.logo {
    border-radius: 20px;
    width: 150px;
    height: 250px;
    }

.title {
    word-spacing: 15px;
    letter-spacing: 2px;
}

.subtitle {
    word-spacing: 5px;
    font-variant: small-caps;
    text-align: justify;
}
/*/////////// SLIDER 1 //////////////*/

.section1 {
    margin: 0%;
    background: darkgray;
    display: flex;
    min-height: 100vh;
    
    }

h1 {
    text-align: center;
    margin:auto;
    position: sticky;
    top: 0%;
}

.slider {
    width: 80%;
    height: 500px;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 0 5px green,
                0 0 35px,
                0 25px 50px fuchsia;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
}

.slider input[type="radio"] {
    display: none;
}

.slider input[type="radio"]:checked ~ img {
    opacity: 1;
}

.slider input[type="radio"] + label {
    position: relative;
    z-index: 50;
    margin: 10px;

    display: block;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer
}

.slider input[type="radio"]:checked + label {
    background: black;
    border: 2px solid white;
}

/*//////// SLIDER 2 ///////////*/

.section2 {
    margin: 0%;
    background: darkgray;
    display: flex;
    min-height: 100vh;
    }

.title2 {
    text-align: center;
    margin: auto;
    position: sticky
}

.slider2 {
    width: 80%;
    height: 500px;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 0 5px green,
                0 0 35px,
                0 25px 50px fuchsia;
}

.slider2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
}

.slider2 input[type="radio"] {
    display: none;
}

.slider2 input[type="radio"]:checked ~ img {
    opacity: 1;
}

.slider2 input[type="radio"] + label {
    position: relative;
    z-index: 50;
    margin: 10px;
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer
}

.slider2 input[type="radio"]:checked + label {
    background: black;
    border: 2px solid white;
}

footer {
    text-align: center;
    font-size: large;
    padding-bottom: 20px;
    text-shadow: 5px 7px 5px black;
}